.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #282c34;

  &-title {
    color: white;
    font-weight: bold;
    font-size: 40px;
  }

  &-logo {
    height: 18vmin;
    margin: 20px auto 5px;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    &-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  &-footer {
    position: 'relative';
    display: 'flex';
    justify-content: 'center';
    color: white;
    font-size: '0.7rem';
    text-decoration: 'none';
    backface-visibility: 'hidden';
    transition: '0.5s color ease';

    &:hover {
      color: #61dafb;
    }
  }
}
