.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #282c34;

  &-logo {
    height: 24vmin;
    margin: 20px auto 0;
    pointer-events: none;
  }

  &-header {
    text-align: center;
    margin: 0 auto;

    &-title {
      color: white;
      font-size: 4.6rem;
      font-weight: 300;
      margin: -20px auto 0;
      span {
        font-weight: 700;
      }
    }

    &-intro {
      color: #9aa1a5;
      font-size: 1rem;
      font-weight: 400;
      margin: 0 auto;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    &-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  &-footer {
    margin: 10px auto;
    color: rgba(235, 235, 235, 0.6);
    font-size: 0.8rem;
    transition: 0.5s color ease;

    &:hover {
      color: #61dafb;
    }
  }
}
