.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #282c34;

  &-title {
    color: white;
    font-size: 40px;
    font-weight: bold;
  }

  &-logo {
    height: 18vmin;
    pointer-events: none;
    margin: 20px auto 5px;
  }

  @media (prefers-reduced-motion: no-preference) {
    &-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
